@use 'variables' as *;
@use 'fonts' as *;

@mixin headerTitleImage($width, $height, $image) {
  width: $width;
  height: $height;
  background-image: url($image);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@mixin baseText($weight: 'Regular', $fontSize: 18px, $color: $mainTextColor) {
  font-family: 'Avenir Next Cyr ' + $weight;
  font-style: normal;
  font-size: $fontSize;
  color: $color;
}

@mixin baseColumn($align-items: center) {
  display: flex;
  flex-direction: column;
  align-items: $align-items;
}

@mixin baseRow($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin overlaySvgImg($top:'', $right:'', $width:'', $height:'') {
  position: absolute;
  top: $top;
  right: $right;
  width: $width;
  height: $height;
}

@mixin wrapper($position: relative, $width: 1145px, $zindex: 2) {
  position: $position;
  max-width: $width;
  margin: 0 auto;
  z-index: $zindex;
}

@mixin menuPsev($type) {
	content: "";
	width: 100%;
	height: 2px;
	background-color: $mainTextColor; 
	position: absolute;
	left:0;
	transition: 0.5s all;

	@if $type == 'topLine' {
		top: 0;
	} @else {
		bottom:0;
	}
}

@mixin lineAfter($top:'', $left:'', $width:'', $height:''){
  content: '';
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  background-color: $mainTextColor;
}